{% extends 'base.html' %}

{% block conteudo %}

    <div class="bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="error-section">
                        <img src="../assets/images/error-img.png" alt="" class="img-fluid">
                        <div class="error-section-content">
                            <h1 class="display-3">Página não encontrada</h1>
                            <p>Não foi possível encontrar a página que você está buscando. Use o botão abaixo para voltar ao início.</p>
                            <a href="../index.html" class="btn btn-secondary btn-lg">Voltar para o início</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-white p-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 row" style="display: flex; align-items: center;">
                        <div class="col-2">
                            <a href="http://ufpi.br/"><img src="{% static 'ufpi.png' %}" height="100" alt="UFPI"></a>
                        </div>
                        <div class="col">
                            Grupos de Pesquisa - UFPI
                            <br>
                            Universidade Federal do Piauí - UFPI
                            <br>
                            Campus Universitário Ministro Petrônio Portella s/n, Bairro - Ininga, Teresina - PI, 64049-550
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div>
                            <p class="m-0 text-center">Desenvolvido por <a href="http://lasco.ufpi.br/"><img src="{% static 'lasco.png' %}" height="100" alt="LASCÔ"/></a></p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12" style="display: flex; align-items: center; text-align: center;">
                        Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}