<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 row" style="display: flex; align-items: center;">
                <div class="col-2">
                    <a href="http://ufpi.br/"><img src="{% static 'ufpi.png' %}" height="100" alt="UFPI"></a>
                </div>
                <div class="col">
                    Grupos de Pesquisa
                    <br>
                    Universidade Federal do Piauí - UFPI
                    <br>
                    Campus Universitário Ministro Petrônio Portella s/n, Bairro - Ininga, Teresina - PI, 64049-550
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <div>
                    <p class="m-0 text-center">Desenvolvido por <a href="http://lasco.ufpi.br/"><img src="{% static 'lasco.png' %}" height="100" alt="LASCÔ"/></a></p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12" style="display: flex; align-items: center; text-align: center;">
                Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>.
            </div>
        </div>
    </div>
</div>