{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{{ grupo.sigla | upper }}</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'template/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'template/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Academicons -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">


  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'template/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'template/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'template/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'template/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'template/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'template/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <style>
    .descricao-completa {
      visibility: hidden;
    }
  </style>
  <!-- Template Main CSS File -->
  <link href="{% static 'template/assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Ninestars - v2.0.0
  * Template URL: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  {% if messages %}
    {% for message in messages %}
      <script>
        alert('{{ message }}');
      </script>
    {% endfor %}
  {% endif %}

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container-fluid d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="/{{ grupo.url }}"><span>{{ grupo.sigla | upper }}</span></a>
        </h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="#header">{% trans 'inicio' %}</a></li>
          <li><a href="#about">{% trans 'sobre' %}</a></li>
          <li><a href="#lines">{% trans 'linhasDePesquisa' %}</a></li>
          <li><a href="#team">{% trans 'pesquisadores' %}</a></li>
          <li><a href="#products">{% trans 'producoes' %}</a></li>
          <li><a href="#projects">{% trans 'projetos' %}</a></li>
          <li><a href="#servicos">{% trans 'servicos' %}</a></li>
          <!-- <li><a href="#portfolio">{% trans 'portifolio' %}</a></li> -->
          <li><a href="#infrastructure">{% trans 'infraestrutura' %}</a></li>
          <li><a href="#clients">{% trans 'parceiros' %}</a></li>
          <li><a href="#contact">{% trans 'contato' %}</a></li>
          <li class="drop-down"><a href="#"><img src="/media/{{ grupo.informacao.idioma.imagem }}" height="32"> {{ grupo.informacao.idioma.nome }}</a>
            <ul>
              {% for informacao in grupo.informacoes.all %}
                <li><a href="/{{ grupo.sigla }}/{{ informacao.idioma.sigla }}"><img src="/media/{{ informacao.idioma.imagem }}" height="32"> {{ informacao.idioma.nome }}</a></li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  {% block conteudo %}
  {% endblock %}

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'template/assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'template/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'template/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'template/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'template/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'template/assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'template/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'template/assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'template/assets/js/main.js' %}"></script>
  <script>
    $(document).ready(function () {

      $(".show-descricao").mouseover(function () {
        $(this).parent().children('h6').css("visibility", 'visible')
      })

      $(".show-descricao").mouseout(function () {
        $(this).parent().children('h6').css("visibility", 'hidden')
      })

    })
  </script>
</body>

</html>