{% extends 'administracao/base_logado.html' %}
{% load static %}

{% block conteudo_logado %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">Editar informações de grupo </h2>
                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">Grupo</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="section-block">
            <h5 class="section-title">Pills tabs</h5>
            <p>Takes the basic nav from above and adds the .nav-tabs class to generate a tabbed interface..</p>
        </div>
        <div class="pills-regular">
            <ul class="nav nav-pills mb-1" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-sobre-tab" data-toggle="pill" href="#pills-sobre" role="tab" aria-controls="sobre" aria-selected="true">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-pesquisadores-tab" data-toggle="pill" href="#pills-pesquisadores" role="tab" aria-controls="pesquisadores" aria-selected="false">Pesquisadores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-instituicoes-tab" data-toggle="pill" href="#pills-instituicoes" role="tab" aria-controls="instituicoes" aria-selected="false">Instituições</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-linhas-tab" data-toggle="pill" href="#pills-linhas" role="tab" aria-controls="linhas" aria-selected="false">Linhas de Pesquisa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-servicos-tab" data-toggle="pill" href="#pills-servicos" role="tab" aria-controls="servicos" aria-selected="false">Serviços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-publicacoes-tab" data-toggle="pill" href="#pills-publicacoes" role="tab" aria-controls="publicacoes" aria-selected="false">Publicações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-premiacoes-tab" data-toggle="pill" href="#pills-premiacoes" role="tab" aria-controls="premiacoes" aria-selected="false">Premiações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-portifolio-tab" data-toggle="pill" href="#pills-portifolio" role="tab" aria-controls="portifolio" aria-selected="false">Portifólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-projetos-tab" data-toggle="pill" href="#pills-projetos" role="tab" aria-controls="projetos" aria-selected="false">Projetos</a>
                </li>
            </ul>
            <div class="tab-content border" id="pills-tabContent" style="background-color: transparent;">
                <div class="tab-pane fade show active" id="pills-sobre" role="tabpanel" aria-labelledby="pills-sobre-tab">
                    <div style="display: flex; justify-content: space-between; margin-bottom: 16px; align-items: center;">
                        <p>Sobre</p>
                        
                        <div>
                            <a href="{% url 'administracao' %}" class="btn btn-secondary">Cancelar Edição</a>
                        
                            <a href="#" class="btn btn-success">Salvar</a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">

                            <div class="row">
                                <div class="col">
                                    <img src="/media/{{ grupo.imagem }}" alt="" height="150" style="object-fit: cover;">
                                </div>
                                
                                <div class="form-group col">
                                    <label for="sobre-input-imagem" class="col-form-label">Imagem</label>
                                    <input id="sobre-input-imagem" type="file" class="form-control">
                                </div>
                            </div>
                
                            <div class="row">
                                <div class="form-group col">
                                    <label for="sobre-input-nome" class="col-form-label">Nome</label>
                                    <input id="sobre-input-nome" type="text" class="form-control" value="{{ grupo.nome }}" maxlength="256">
                                </div>
                    
                                <div class="form-group col">
                                    <label for="sobre-input-sigla" class="col-form-label">Sigla</label>
                                    <input id="sobre-input-sigla" type="text" class="form-control" value="{{ grupo.sigla }}" maxlength="256">
                                </div>
                            </div>
                
                            <div class="form-group">
                                <label for="sobre-input-descricao">Descrição</label>
                                <textarea class="form-control" id="sobre-input-descricao" rows="3" maxlength="1024">{{ grupo.informacao.descricao }}</textarea>
                            </div>
                
                            <div class="row">
                                <div class="form-group col">
                                    <label for="sobre-input-telefone" class="col-form-label">Telefone</label>
                                    <input id="sobre-input-telefone" type="text" class="form-control" value="{{ grupo.telefone }}" maxlength="256">
                                </div>

                                <div class="form-group col">
                                    <label for="sobre-input-endereco" class="col-form-label">Endereço</label>
                                    <input id="sobre-input-endereco" type="text" class="form-control" value="{{ grupo.endereco }}" maxlength="256">
                                </div>
                            </div>
                
                            <div class="row">            
                                <div class="form-group col">
                                    <label for="sobre-input-email" class="col-form-label">E-mail</label>
                                    <input id="sobre-input-email" type="email" class="form-control" value="{{ grupo.email }}" maxlength="256">
                                </div>
                    
                                <div class="form-group col">
                                    <label for="sobre-input-facebook" class="col-form-label">Facebook</label>
                                    <input id="sobre-input-facebook" type="text" class="form-control" value="{{ grupo.facebook }}" maxlength="256">
                                </div>
                            </div>
                
                            <div class="row">
                                <div class="form-group col">
                                    <label for="sobre-input-twitter" class="col-form-label">Twitter</label>
                                    <input id="sobre-input-twitter" type="text" class="form-control" value="{{ grupo.twitter }}" maxlength="256">
                                </div>
                    
                                <div class="form-group col">
                                    <label for="sobre-input-instagram" class="col-form-label">Instagram</label>
                                    <input id="sobre-input-instagram" type="text" class="form-control" value="{{ grupo.instagram }}" maxlength="256">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-pesquisadores" role="tabpanel" aria-labelledby="pills-pesquisadores-tab">
                    <div style="display: flex; justify-content: space-between; margin-bottom: 16px; align-items: center;">
                        <p>Pesquisador</p>
                        
                        <div>
                            <a href="#" class="btn btn-primary">Adicionar Pesquisador</a>

                            <a href="{% url 'administracao' %}" class="btn btn-secondary">Cancelar Edição</a>
                        
                            <a href="#" class="btn btn-success">Salvar</a>
                        </div>
                    </div>
                    {% for pesquisador in grupo.pesquisadores.all %}
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2">
                                        <img src="/media/{{ pesquisador.imagem }}" alt="" class="rounded-circle" height="150" width="150" style="object-fit: cover;">
                                    </div>

                                    <div class="col">
                                        <div class="row">
                                            <div class="form-group col">
                                                <label for="pesquisadores-input-nome{{ forloop.counter }}" class="col-form-label">Nome</label>
                                                <input id="pesquisadores-input-nome{{ forloop.counter }}" type="text" class="form-control" value="{{ pesquisador.nome }}" maxlength="256" required>
                                            </div>
                
                                            <div class="form-group col">
                                                <label for="pesquisadores-input-lattes{{ forloop.counter }}" class="col-form-label">Lattes</label>
                                                <input id="pesquisadores-input-lattes{{ forloop.counter }}" type="text" class="form-control" value="{{ pesquisador.lattes }}" maxlength="256">
                                            </div>
                
                                            <div class="form-group col">
                                                <label for="pesquisadores-input-orcid{{ forloop.counter }}" class="col-form-label">ORCID</label>
                                                <input id="pesquisadores-input-orcid{{ forloop.counter }}" type="text" class="form-control" value="{{ pesquisador.orcid }}" maxlength="256">
                                            </div>
                                        </div>
                
                                        <div class="form-group">
                                            <label for="pesquisadores-input-descricao{{ forloop.counter }}" class="col-form-label">Descrição resumida</label>
                                            <input id="pesquisadores-input-descricao{{ forloop.counter }}" type="text" class="form-control" value="{{ pesquisador.descricao }}" maxlength="256" required>
                                        </div>
                
                                        <div class="form-group">
                                            <label for="pesquisadores-input-descricao-completa{{ forloop.counter }}">Descrição completa</label>
                                            <textarea class="form-control" id="pesquisadores-input-descricao-completa{{ forloop.counter }}" rows="3"  maxlength="1024">{{ pesquisador.descricao_completa }}</textarea>
                                        </div>
                
                                        <div class="form-group col">
                                            <label for="pesquisadores-input-imagem{{ forloop.counter }}" class="col-form-label">Imagem</label>
                                            <input id="pesquisadores-input-imagem{{ forloop.counter }}" type="file" class="form-control" value="{{ pesquisador.imagem }}">
                                        </div>                                
                                    </div>
                                </div>

                                <a href="#" class="btn btn-danger">Excluir</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="pills-instituicoes" role="tabpanel" aria-labelledby="pills-instituicoes-tab">
                    <div style="display: flex; justify-content: space-between; margin-bottom: 16px; align-items: center;">
                        <p>Instituição</p>
                        
                        <div>
                            <a href="#" class="btn btn-primary">Adicionar Instituição</a>

                            <a href="{% url 'administracao' %}" class="btn btn-secondary">Cancelar Edição</a>
                        
                            <a href="#" class="btn btn-success">Salvar</a>
                        </div>
                    </div>
                    {% for instituicao in grupo.instituicoes.all %} 
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2">
                                        <img src="/media/{{ instituicao.imagem }}" alt="" class="rounded-circle" height="150" width="150" style="object-fit: cover;">
                                    </div>

                                    <div class="col">
                                        <div class="form-group">
                                            <label for="instituicoes-input-nome{{ forloop.counter }}" class="col-form-label">Nome</label>
                                            <input id="instituicoes-input-nome{{ forloop.counter }}" type="text" class="form-control" value="{{ instituicao.nome }}" maxlength="256" required>
                                        </div>
                        
                                        <div class="form-group">
                                            <label for="pesquisadores-input-imagem{{ forloop.counter }}" class="col-form-label">Imagem</label>
                                            <input id="pesquisadores-input-imagem{{ forloop.counter }}" type="file" class="form-control" value="{{ pesquisador.imagem }}">
                                        </div>  

                                        <div class="form-group">
                                            <label for="instituicoes-input-categoria{{ forloop.counter }}">Categoria</label>
                                            <select class="form-control" id="instituicoes-input-categoria{{ forloop.counter }}">
                                                <option {% if instituicao.subcategoria == 'Nacional' %} selected {% endif %}>Nacional</option>
                                                <option {% if instituicao.subcategoria == 'Internacional' %} selected {% endif %}>Internacional</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <a href="#" class="btn btn-danger">Excluir</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="pills-linhas" role="tabpanel" aria-labelledby="pills-linhas-tab">
                    <div style="display: flex; justify-content: space-between; margin-bottom: 16px; align-items: center;">
                        <p>Linhas de Pesquisa</p>
                        
                        <div>
                            <a href="#" class="btn btn-primary">Adicionar Linha de Pesquisa</a>

                            <a href="{% url 'administracao' %}" class="btn btn-secondary">Cancelar Edição</a>
                        
                            <a href="#" class="btn btn-success">Salvar</a>
                        </div>
                    </div>
                    {% for linha in grupo.linhas.all %}
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="linhas-input-nome{{ forloop.counter }}" class="col-form-label">Nome</label>
                                    <input id="linhas-input-nome{{ forloop.counter }}" type="text" class="form-control" value="{{ linha.nome }}" maxlength="256" required>
                                </div>
                
                                <div class="form-group">
                                    <label for="linhas-input-descricao{{ forloop.counter }}">Descrição</label>
                                    <textarea class="form-control" id="linhas-input-descricao{{ forloop.counter }}" rows="3" maxlength="1024">{{ linha.descricao }}</textarea>
                                </div>

                                <a href="#" class="btn btn-danger">Excluir</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="pills-servicos" role="tabpanel" aria-labelledby="pills-servicos-tab">
                    <div style="display: flex; justify-content: space-between; margin-bottom: 16px; align-items: center;">
                        <p>Serviços</p>
                        
                        <div>
                            <a href="#" class="btn btn-primary">Adicionar Serviço</a>

                            <a href="{% url 'administracao' %}" class="btn btn-secondary">Cancelar Edição</a>
                        
                            <a href="#" class="btn btn-success">Salvar</a>
                        </div>
                    </div>
                    {% for servico in grupo.servicos.all %}
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="servicos-input-nome{{ forloop.counter }}" class="col-form-label">Nome</label>
                                    <input id="servicos-input-nome{{ forloop.counter }}" type="text" class="form-control" value="{{ servico.nome }}" maxlength="256" required>
                                </div>
                
                                <div class="form-group">
                                    <label for="servicos-input-descricao{{ forloop.counter }}">Descrição</label>
                                    <textarea class="form-control" id="servicos-input-descricao{{ forloop.counter }}" rows="3" maxlength="1024">{{ servico.descricao }}</textarea>
                                </div>

                                <a href="#" class="btn btn-danger">Excluir</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="pills-publicacoes" role="tabpanel" aria-labelledby="pills-publicacoes-tab">
                    <div style="display: flex; justify-content: space-between; margin-bottom: 16px; align-items: center;">
                        <p>Publicações</p>
                        
                        <div>
                            <a href="#" class="btn btn-primary">Adicionar Publicação</a>

                            <a href="{% url 'administracao' %}" class="btn btn-secondary">Cancelar Edição</a>
                        
                            <a href="#" class="btn btn-success">Salvar</a>
                        </div>
                    </div>
                    {% for publicacao in grupo.publicacoes.all %} 
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col">
                                        <label for="publicacoes-input-nome{{ forloop.counter }}" class="col-form-label">Nome</label>
                                        <input id="publicacoes-input-nome{{ forloop.counter }}" type="text" class="form-control" value="{{ publicacao.nome }}" maxlength="256" required>
                                    </div>

                                    <div class="form-group col">
                                        <label for="publicacoes-input-ano{{ forloop.counter }}" class="col-form-label">Ano</label>
                                        <input id="publicacoes-input-ano{{ forloop.counter }}" type="text" class="form-control" value="{{ publicacao.ano }}" maxlength="256">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="publicacoes-input-categoria{{ forloop.counter }}">Categoria</label>
                                    <select class="form-control" id="publicacoes-input-categoria{{ forloop.counter }}">
                                        <option {% if publicacao.subcategoria == 'Artigos completos publicados em periódicos' %} selected {% endif %}>Artigos completos publicados em periódicos</option>
                                        <option {% if publicacao.subcategoria == 'Artigos aceitos para publicação' %} selected {% endif %}>Artigos aceitos para publicação</option>
                                        <option {% if publicacao.subcategoria == 'Livros e capítulos' %} selected {% endif %}>Livros e capítulos</option>
                                        <option {% if publicacao.subcategoria == 'Texto em jornal ou revista (magazine)' %} selected {% endif %}>Texto em jornal ou revista (magazine)</option>
                                        <option {% if publicacao.subcategoria == 'Trabalhos publicados em anais de eventos' %} selected {% endif %}>Trabalhos publicados em anais de eventos</option>
                                        <option {% if publicacao.subcategoria == 'Apresentação de trabalho e palestra' %} selected {% endif %}>Apresentação de trabalho e palestra</option>
                                        <option {% if publicacao.subcategoria == 'Partitura musical' %} selected {% endif %}>Partitura musical</option>
                                        <option {% if publicacao.subcategoria == 'Tradução' %} selected {% endif %}>Tradução</option>
                                        <option {% if publicacao.subcategoria == 'Prefácio, posfácio' %} selected {% endif %}>Prefácio, posfácio</option>
                                        <option {% if publicacao.subcategoria == 'Outra produção bibliográfica' %} selected {% endif %}>Outra produção bibliográfica</option>
                                        <option {% if publicacao.subcategoria == 'Assessoria e consultoria' %} selected {% endif %}>Assessoria e consultoria</option>
                                        <option {% if publicacao.subcategoria == 'Extensão tecnológica' %} selected {% endif %}>Extensão tecnológica</option>
                                        <option {% if publicacao.subcategoria == 'Programa de computador sem registro' %} selected {% endif %}>Programa de computador sem registro</option>
                                        <option {% if publicacao.subcategoria == 'Produtos' %} selected {% endif %}>Produtos</option>
                                        <option {% if publicacao.subcategoria == 'Processos ou técnicas' %} selected {% endif %}>Processos ou técnicas</option>
                                        <option {% if publicacao.subcategoria == 'Trabalhos técnicos' %} selected {% endif %}>Trabalhos técnicos</option>
                                        <option {% if publicacao.subcategoria == 'Cartas, mapas ou similares' %} selected {% endif %}>Cartas, mapas ou similares</option>
                                        <option {% if publicacao.subcategoria == 'Curso de curta duração ministrado' %} selected {% endif %}>Curso de curta duração ministrado</option>
                                        <option {% if publicacao.subcategoria == 'Desenvolvimento de material didático ou instrucional' %} selected {% endif %}>Desenvolvimento de material didático ou instrucional</option>
                                        <option {% if publicacao.subcategoria == 'Editoração' %} selected {% endif %}>Editoração</option>
                                        <option {% if publicacao.subcategoria == 'Manutenção de obra artística' %} selected {% endif %}>Manutenção de obra artística</option>
                                        <option {% if publicacao.subcategoria == 'Maquete' %} selected {% endif %}>Maquete</option>
                                        <option {% if publicacao.subcategoria == 'Entrevistas, mesas redondas, programas e comentários na mídia' %} selected {% endif %}>Entrevistas, mesas redondas, programas e comentários na mídia</option>
                                        <option {% if publicacao.subcategoria == 'Relatório de pesquisa' %} selected {% endif %}>Relatório de pesquisa</option>
                                        <option {% if publicacao.subcategoria == 'Redes sociais, websites e blogs' %} selected {% endif %}>Redes sociais, websites e blogs</option>
                                        <option {% if publicacao.subcategoria == 'Outra produção técnica' %} selected {% endif %}>Outra produção técnica</option>
                                        <option {% if publicacao.subcategoria == 'Artes cênicas' %} selected {% endif %}>Artes cênicas</option>
                                        <option {% if publicacao.subcategoria == 'Música' %} selected {% endif %}>Música</option>
                                        <option {% if publicacao.subcategoria == 'Artes visuais' %} selected {% endif %}>Artes visuais</option>
                                        <option {% if publicacao.subcategoria == 'Outra produção artística/cultural' %} selected {% endif %}>Outra produção artística/cultural</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="publicacoes-input-descricao{{ forloop.counter }}">Descrição</label>
                                    <textarea class="form-control" id="publicacoes-input-descricao{{ forloop.counter }}" rows="3" maxlength="1024">{{ publicacao.descricao }}</textarea>
                                </div>

                                <a href="#" class="btn btn-danger">Excluir</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="pills-premiacoes" role="tabpanel" aria-labelledby="pills-premiacoes-tab">
                    <div style="display: flex; justify-content: space-between; margin-bottom: 16px; align-items: center;">
                        <p>Premiações</p>
                        
                        <div>
                            <a href="#" class="btn btn-primary">Adicionar Premiação</a>

                            <a href="{% url 'administracao' %}" class="btn btn-secondary">Cancelar Edição</a>
                        
                            <a href="#" class="btn btn-success">Salvar</a>
                        </div>
                    </div>
                    {% for premiacao in grupo.premiacoes.all %}
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col">
                                        <label for="premiacoes-input-nome{{ forloop.counter }}" class="col-form-label">Nome</label>
                                        <input id="premiacoes-input-nome{{ forloop.counter }}" type="text" class="form-control" value="{{ premiacao.nome }}" maxlength="256" required>
                                    </div>

                                    <div class="form-group col">
                                        <label for="premiacoes-input-ano{{ forloop.counter }}" class="col-form-label">Ano</label>
                                        <input id="premiacoes-input-ano{{ forloop.counter }}" type="text" class="form-control" value="{{ premiacao.ano }}" maxlength="256">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="premiacoes-input-descricao{{ forloop.counter }}">Descrição</label>
                                    <textarea class="form-control" id="premiacoes-input-descricao{{ forloop.counter }}" rows="3" maxlength="1024">{{ premiacao.descricao }}</textarea>
                                </div>

                                <a href="#" class="btn btn-danger">Excluir</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="pills-portifolio" role="tabpanel" aria-labelledby="pills-portifolio-tab">
                    <div style="display: flex; justify-content: space-between; margin-bottom: 16px; align-items: center;">
                        <p>Portifólio</p>
                        
                        <div>
                            <a href="#" class="btn btn-primary">Adicionar Portifólio</a>

                            <a href="{% url 'administracao' %}" class="btn btn-secondary">Cancelar Edição</a>
                        
                            <a href="#" class="btn btn-success">Salvar</a>
                        </div>
                    </div>
                    {% for portifolio in grupo.portifolio.all %}
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="portifolio-input-nome{{ forloop.counter }}" class="col-form-label">Nome</label>
                                    <input id="portifolio-input-nome{{ forloop.counter }}" type="text" class="form-control" value="{{ portifolio.nome }}" maxlength="256" required>
                                </div>

                                <div class="form-group">
                                    <label for="portifolio-input-descricao{{ forloop.counter }}">Descrição</label>
                                    <textarea class="form-control" id="portifolio-input-descricao{{ forloop.counter }}" rows="3" maxlength="1024">{{ portifolio.descricao }}</textarea>
                                </div>

                                <a href="#" class="btn btn-danger">Excluir</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="pills-projetos" role="tabpanel" aria-labelledby="pills-projetos-tab">
                    <div style="display: flex; justify-content: space-between; margin-bottom: 16px; align-items: center;">
                        <p>Projetos</p>
                        
                        <div>
                            <a href="#" class="btn btn-primary">Adicionar Projetos</a>

                            <a href="{% url 'administracao' %}" class="btn btn-secondary">Cancelar Edição</a>
                        
                            <a href="#" class="btn btn-success">Salvar</a>
                        </div>
                    </div>
                    {% for projeto in grupo.projetos.all %}
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col">
                                        <label for="projeto-input-nome{{ forloop.counter }}" class="col-form-label">Título</label>
                                        <input id="projeto-input-nome{{ forloop.counter }}" type="text" class="form-control" value="{{ projeto.titulo }}" maxlength="256" required>
                                    </div>

                                    <div class="form-group col">
                                        <label for="projeto-input-lattes{{ forloop.counter }}" class="col-form-label">Data início</label>
                                        <input id="projeto-input-lattes{{ forloop.counter }}" type="date" class="form-control" value="{{ projeto.data_inicio }}">
                                    </div>

                                    <div class="form-group col">
                                        <label for="projeto-input-orcid{{ forloop.counter }}" class="col-form-label">Data fim</label>
                                        <input id="projeto-input-orcid{{ forloop.counter }}" type="date" class="form-control" value="{{ projeto.data_fim }}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="projeto-input-descricao{{ forloop.counter }}">Descrição</label>
                                    <textarea class="form-control" id="projeto-input-descricao{{ forloop.counter }}" rows="3">{{ projeto.descricao }}</textarea>
                                </div>

                                <div class="form-group">
                                    <label for="projeto-input-coordenador{{ forloop.counter }}">Coordenador</label>
                                    <select class="form-control" id="projeto-input-coordenador{{ forloop.counter }}">
                                        {% for pesquisador in grupo.pesquisadores.all %}
                                            <option {% if projeto.coordenador == pesquisador %} selected {% endif %}>{{ pesquisador.nome }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                {% for integrante in projeto.integrantes.all %}
                                    <div class="form-group">
                                        <label for="projeto-input-orcid{{ forloop.counter }}" class="col-form-label">Integrante</label>
                                        <input id="projeto-input-orcid{{ forloop.counter }}" type="text" class="form-control" value="{{ integrante.nome }}" readonly>
                                    </div>
                                {% endfor %}

                                <a href="#" class="btn btn-danger">Excluir</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}