{% extends 'base.html' %}
{% load static %}

{% block conteudo %}

    <div class="nav-left-sidebar sidebar-dark">
        <div class="menu-list">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-divider">
                            Menu
                        </li>
                        <a href="{% url 'administracao' %}" style="padding: 12px;"><i class="fab fa-fw fa-wpforms"></i> Editar grupo</a>
                        <a href="{% url 'newsletter' %}" style="padding: 12px;"><i class="fas fa-fw fa-file"></i> Newsletter</a>
                        <!-- <li class="nav-item ">
                            <a class="nav-link" href="{% url 'administracao' %}" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fab fa-fw fa-wpforms"></i> Editar Grupo </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'newsletter' %}" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fas fa-fw fa-file"></i> Newsletter </a>
                        </li> -->
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <div class="container-fluid dashboard-content ">

            {% block conteudo_logado %}
            {% endblock %}

        </div>
                
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 row" style="display: flex; align-items: center;">
                        <div class="col-3">
                            <a href="http://ufpi.br/"><img src="{% static 'ufpi.png' %}" height="100" alt="UFPI"></a>
                        </div>
                        <div class="col">
                            Grupos de Pesquisa - UFPI
                            <br>
                            Universidade Federal do Piauí - UFPI
                            <br>
                            Campus Universitário Ministro Petrônio Portella s/n, Bairro - Ininga, Teresina - PI, 64049-550
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div>
                            <p class="m-0 text-center">Desenvolvido por <a href="http://lasco.ufpi.br/"><img src="{% static 'lasco.png' %}" height="100" alt="LASCÔ"/></a></p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12" style="display: flex; align-items: center; text-align: center;">
                        Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
        
{% endblock %}