{% extends 'administracao/base_logado.html' %}
{% load static %}

{% block conteudo_logado %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">Newsletter </h2>
                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">Newsletter</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <a href="{% url 'criar_newsletter' %}" class="btn btn-success" style="margin-bottom: 16px;">Criar newsletter</a>

        <div class="accrodion-regular">
            <div id="accordion">
                {% for newsletter in grupo.newsletters.all %}

                    <div class="card">
                        <div class="card-header" id="heading{{forloop.counter}}">
                            <h5 class="mb-0">
                               <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapse{{forloop.counter}}">
                                {{ newsletter.assunto }} - {{ newsletter.data_criacao }}
                               </button>
                              </h5>
                        </div>
                        <div id="collapse{{forloop.counter}}" class="collapse" aria-labelledby="heading{{forloop.counter}}" data-parent="#accordion">
                            <div class="card-body">
                                {{ newsletter.mensagem|safe }}
                            </div>
                        </div>
                    </div>

            {% empty %}
                <h3>Ainda não foram cadastradas newsletters.</h3>
            {% endfor %}
            </div>
        </div>
            
{% endblock %}